/* Text Effect Animations */
@keyframes wave {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(5px);
	}

	50% {
		transform: translateY(0);
	}

	75% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes scroll {
	0% {
		text-indent: 500px;
	}

	100% {
		text-indent: -20em;
	}
}

@keyframes slide {
	0% {
		top: -1.5em;
	}

	10%,
	90% {
		top: 0;
	}

	100% {
		top: 1.5em;
	}
}

@keyframes flash1 {
	0% {
		color: #FF0000;
	}

	50% {
		color: #ff0;
	}
}

@keyframes flash2 {
	0% {
		color: #0000FF;
	}

	50% {
		color: #00FFFF;
	}
}

@keyframes flash3 {
	0% {
		color: #00B000;
	}

	50% {
		color: #80FF80;
	}
}

@keyframes glow1 {
	0% {
		color: #FF0000;
	}

	33% {
		color: #00B000;
	}

	66% {
		color: #0000FF;
	}

	100% {
		color: #FF0000;
	}
}

@keyframes glow2 {
	0% {
		color: #FF0000;
	}

	33% {
		color: #800080;
	}

	66% {
		color: #0000FF;
	}

	100% {
		color: #FF0000;
	}
}

@keyframes glow3 {
	0% {
		color: #FFFFFF;
	}

	25% {
		color: #00B000;
	}

	50% {
		color: #FFFFFF;
	}

	67.5% {
		color: #00FFFF;
	}

	75% {
		color: #0000FF;
	}

	100% {
		color: #FFFFFF;
	}
}

/* Text Effect Classes */
.text-effect {
	display: inline-block;
	position: relative;
}

.text-effect.wave span {
	display: inline-block;
	animation: wave 0.66s linear infinite;
}

.text-effect.wave span:nth-child(1) {
	animation-delay: 0s;
}

.text-effect.wave span:nth-child(2) {
	animation-delay: 0.05s;
}

.text-effect.wave span:nth-child(3) {
	animation-delay: 0.1s;
}

.text-effect.wave span:nth-child(4) {
	animation-delay: 0.15s;
}

.text-effect.wave span:nth-child(5) {
	animation-delay: 0.2s;
}

.text-effect.wave span:nth-child(6) {
	animation-delay: 0.25s;
}

.text-effect.wave span:nth-child(7) {
	animation-delay: 0.3s;
}

.text-effect.wave span:nth-child(8) {
	animation-delay: 0.35s;
}

.text-effect.wave span:nth-child(9) {
	animation-delay: 0.4s;
}

.text-effect.wave span:nth-child(10) {
	animation-delay: 0.45s;
}

.text-effect.wave span:nth-child(11) {
	animation-delay: 0.5s;
}

.text-effect.wave span:nth-child(12) {
	animation-delay: 0.55s;
}

.text-effect.wave span:nth-child(13) {
	animation-delay: 0.6s;
}

.text-effect.wave span:nth-child(14) {
	animation-delay: 0.65s;
}

.text-effect.wave span:nth-child(15) {
	animation-delay: 0.7s;
}

.text-effect.scroll {
	white-space: nowrap;
	animation: scroll 8s infinite linear;
}

.text-effect.slide {
	animation: slide 3s linear;
}

.text-effect.flash1 {
	animation: flash1 0.45s steps(1, end) infinite;
}

.text-effect.flash2 {
	animation: flash2 0.45s steps(1, end) infinite;
}

.text-effect.flash3 {
	animation: flash3 0.45s steps(1, end) infinite;
}

.text-effect.glow1 {
	animation: glow1 3s linear infinite;
}

.text-effect.glow2 {
	animation: glow2 3s linear infinite;
}

.text-effect.glow3 {
	animation: glow3 3s linear infinite;
}
